rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    function isSignedIn() {
      return request.auth.uid != null;
    }

    function isFriends(idA, idB) {
      return exists(/databases/$(database)/Users/$(idB)/Friends) && exists(/databases/$(database)/Users/$(idA)/Friends);
    }

    match /{document=**} {
      allow read, write: if false;
    }
    match /Users/{userId}/{document=**} {
      allow read, write: if (request.auth.uid == userId) && request.time < timestamp.date(2022, 8, 20);
    }
    match /Users/{userId}/{document=**} {
      allow read, create, update: if isSignedIn() && request.time < timestamp.date(2022, 8, 20);
      allow delete: if (request.auth.uid == userId) && request.time < timestamp.date(2022, 8, 20);
    }
  }
}